{% extends "layout.html" %}
{% block title %}Logowanie{% endblock %}
{% block content %}

<div id="navbar3">
    <div id="menu1">
        <div class="option1">
    <a href="{{ url_for('settings') }}">Ustawienia</a><br/>
        </div>
            <div class="option1">
    <a href="{{ url_for('projects') }}">Projekty</a><br/>
                </div>
                    <div class="option1">
    <a href="{{ url_for('logout') }}">Wyloguj</a><br/>
                        </div>
        <div style="clear:both;"></div>
    </div>
</div>


<div id="centering2">
    <div id="topbar1">
    <h4>Witaj {{ name }}!</h4>
        </div>

    <p>Twoje zdjęcie profilowe:</p>
    <img src="data:image/png;base64,{{ avatar }}"><br/><br/>
</div>

{% endblock %}