<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>FS-DI AI</title>
    <link rel="stylesheet" href="static/styles/main_style.css">
</head>
<body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function () {
        window.setTimeout(function() {
            $(".alert").fadeTo(1000, 0).slideUp(1000, function(){
                $(this).remove();
            });
        }, 1500);
    });
    </script>

    <div class="alert">
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <ul class="{{ category }}">
                    <li class="{{ category }}">{{ message }}</li>
                </ul>
            {% endfor %}
        {% endif %}
      {% endwith %}
    </div>
    <h4>Witaj na stronie!</h4>
    {% if current_user.is_authenticated %}
        <a href="{{ url_for('dashboard') }}">Profil</a><br />
    {% else %}
        <a href="{{ url_for('login') }}">Logowanie</a><br />
        <a href="{{ url_for('register') }}">Rejestracja</a><br />
    {% endif %}

    <a href="{{ url_for('info') }}">Informacje</a><br />
    <a href="{{ url_for('mnist_vae') }}">Wariancyjny autoencoder</a><br />
</body>
</html>