<!DOCTYPE html>
<html lang="pl">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="static/styles/main_style.css">
    {% endblock %}
</head>
<body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function () {
        window.setTimeout(function() {
            $(".alert").fadeTo(1000, 0).slideUp(1000, function(){
                $(this).remove();
            });
        }, 1500);
    });
    </script>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div class="alert_block">
            <div class="alert">
                {% for category, message in messages %}
                    <ul class="{{ category }}">
                        <li class="{{ category }}">{{ message }}</li>
                    </ul>
                {% endfor %}
            </div>
        </div>
        {% endif %}
    {% endwith %}

    {% block content %}
    {% endblock %}
</body>
</html>