{% extends "layout.html" %}
{% block title %}Logowanie{% endblock %}
{% block content %}

 {% if current_user.is_authenticated %}


            {% else %}
<div id="navbar2">
     <div id="menu1">
                       <div class="option1">
                            <a  href="{{ url_for('login') }}" >Logowanie</a><br />
                       </div>

                          <div class="option1">
                            <a  href="{{ url_for('register') }}">Rejestracja</a><br />
                          </div>


              {% endif %}

                <div class="option1">
                         <a  href="{{ url_for('info') }}">Informacje</a><br />
                 </div>
             <div class="option1">
                        <a href="{{ url_for('mnist_vae') }}">Wariancyjny autoencoder</a><br />
             </div>
      <div style="clear:both;"></div>
   </div>
</div>
<div id="centering1">
<h4>Zaloguj się</h4>

    <form method="POST" action="">

        {{ form.hidden_tag() }}

        {{ form.username() }}<br/>

        {{ form.password }}<br/>
        {{ form.submit }}

    </form>

    <br/>
    <a href="{{ url_for('index') }}">Wyjście</a>
</div>
{% endblock %}