{% extends "layout.html" %}
{% block title %}Logowanie{% endblock %}
{% block content %}
{% if current_user.is_authenticated %}


            {% else %}
<div id="navbar2">
     <div id="menu1">
                       <div class="option1">
                            <a  href="{{ url_for('login') }}" >Logowanie</a><br />
                       </div>

                          <div class="option1">
                            <a  href="{{ url_for('register') }}">Rejestracja</a><br />
                          </div>


              {% endif %}

                <div class="option1">
                         <a  href="{{ url_for('info') }}">Informacje</a><br />
                 </div>
             <div class="option1">
                        <a href="{{ url_for('mnist_vae') }}">Wariancyjny autoencoder</a><br />
             </div>
      <div style="clear:both;"></div>
   </div>
</div>

<div id="centering2">
        <div id="topbar2">
    <h4>Strona rejestracji</h4>
            </div>
    <div id="content4">

</div>
    <div id="centering3">
        Zarejestruj się
        </div>

    <form method="POST" action="">
        {{ form.hidden_tag() }}
        {{ form.username }}<br/>
        <div id="centering4">
        {{ form.password }}<br/>
        </div>
        <div id="centering2">
        {{ form.submit }}
        </div>
    </form>

    <br/>
    <a href="{{ url_for('index') }}">Wyjście</a>
    <div id="content3">
        </div>
    <div id="footer2">
			Strona intenetowa autorstwa Huberta Mazura i Martyny Malinowskiej &copy; Wszelkie prawa zastrzeżone
		</div>
</div>

{% endblock %}