{% extends "layout.html" %}
{% block title %}Logowanie{% endblock %}
{% block content %}

<div id="navbar3">
    <div id="menu1">
        <div class="option1">
    <a href="{{ url_for('settings') }}">Ustawienia</a><br/>
        </div>
<div class="option1">
    <a href="{{ url_for('projects') }}">Projekty</a><br/>
                </div>
                    <div class="option1">
    <a href="{{ url_for('logout') }}">Wyloguj</a><br/>
                        </div>

        <div style="clear:both;"></div>
    </div>
</div>
<div id="centering1">
    <h4>Ustawienia</h4>
    <form method="POST" action="" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <p>Zmiana zdjęcia profilowego:</p>
        {{ form.avatar }}<br/><br/>
        <p>Zmiana nazwy użytkownika:</p>
        {{ form.username }}<br/><br/>
        <p>Zmiana hasła:</p>
        {{ form.cur_password }}<br/>
        {{ form.new_password }} <br/>
        {{ form.new_password_again }}<br/><br/>
        <p>Zatwierdź zmiany:</p>
        {{ form.submit }}
    </form>
    <br/>
    <a href="{{ url_for('dashboard') }}">Wyjście</a>
</div>

{% endblock %}