ul.login li.login {
    background-image: url(/static/imgs/confirm_icon.png);
    background-repeat: no-repeat;
    padding-left: 30px;
    padding-top: 2px;
    padding-bottom: 2px;
    color: green;
    border: 1px solid green;
    color: green;
    display:inline-block;
    overflow: hidden;
    background-color: #90DF90;
    list-style: none;
}

